<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="vm.data._size == 0"
                 ng-init="clickToOpen()">
            </div>
            <div class="panel panel-default" ng-show="vm.data._size > 0">
                <div class="panel-heading"><h3>Statistics</h3></div>
                <div class="panel-body">
                    <div class="col-xs-6 col-sm-6 col-lg-2 hidden-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-6 col-sm-6 col-lg-2">
                        <div class="thumbnail">
                            <div class="caption p-3 text-center">
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'END' ) != -1">
                                    {{vm.chart.data[vm.chart.labels.indexOf('END')]}}
                                </div>
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'END' ) == -1">
                                    0
                                </div>
                                <div class="text-muted mb-4">END</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-2">
                        <div class="thumbnail">
                            <div class="caption p-3 text-center">
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'ERROR' ) != -1">
                                    {{vm.chart.data[vm.chart.labels.indexOf('ERROR')]}}
                                </div>
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'ERROR' ) == -1">
                                    0
                                </div>
                                <div class="text-muted mb-4">ERROR</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-2">
                        <div class="thumbnail">
                            <div class="caption p-3 text-center">
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'QUEUE' ) != -1">
                                    {{vm.chart.data[vm.chart.labels.indexOf('QUEUE')]}}
                                </div>
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'QUEUE' ) == -1">
                                    0
                                </div>
                                <div class="text-muted mb-4">QUEUE</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-2">
                        <div class="thumbnail">
                            <div class="caption p-3 text-center">
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'PROGRESS' ) != -1">
                                    {{vm.chart.data[vm.chart.labels.indexOf('PROGRESS')]}}
                                </div>
                                <div class="h1 m-0" ng-if="vm.chart.labels.indexOf( 'PROGRESS' ) == -1">
                                    0
                                </div>
                                <div class="text-muted mb-4">PROGRESS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default profile-area" ng-show="vm.data._size > 0">
                <div class="panel-heading">
                    <h3>{{vm.title}} <span class="badge badge-light">{{vm.data._size}}</span>
                        <button type="button" class="btn btn-primary" ng-click="clickToOpen()">new</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive col-xs-12 col-sm-12 col-lg-12">
                        <table ng-table="vm.tableParams" class="table" show-filter="false">
                            <tr ng-repeat="data in $data">
                                <td title="'job'">
                                <span ng-if="data.status == 'ERROR'"
                                      class="glyphicon glyphicon-remove-sign text-danger"></span>
                                    <span ng-if="data.status == 'END'"
                                          class="glyphicon glyphicon-ok-sign text-success"></span>
                                    <span ng-if="data.status == 'PROGRESS'"
                                          class="glyphicon glyphicon-play-circle text-info"></span>
                                    <span ng-if="data.status == 'QUEUE'" class="glyphicon glyphicon-hourglass"></span>
                                </td>
                                <!--<td title="'status'">-->
                                    <!--<i class="fas fa-circle text-muted"></i><i class="fas fa-circle text-muted"></i><i class="fas fa-circle text-muted"></i>-->
                                <!--</td>-->
                                <td title="'id'">
                                    <a ui-sref="analyse-detail({_id: '{{data._id}}'})"
                                       ng-class="{'btn disabled' : data.status != 'END' && data.status != 'ERROR' }">{{data._id}}</a>
                                </td>
                                <td title="'input'" ng-if="data.type != 'FILE'">
                                    {{data.value | limitTo: 50}}<span ng-if="data.value.length > 50">...</span>
                                </td>
                                <td title="'filename'" ng-if="data.type == 'FILE'">
                                    {{data.filename}}
                                </td>
                                <td title="'timestamp'">
                                    {{data.timestamp.year}}-{{data.timestamp.monthValue}}-{{data.timestamp.dayOfMonth}}
                                </td>
                                <td title="'remove'">
                                    <a ng-click="remove(data._id)">
                                        <span class="glyphicon glyphicon-remove text-danger"></span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="analyse.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">{{ngDialogData.title}}</h3>
    </div>
    <div class="modal-body">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <!-- METHOD -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.method.$invalid && userForm.method.$pristine }">
                <label>Method*</label>
		<p>
			<small class="text-muted">
				Choose the methodology for processing XML. SAX stands for Simple API for XML; DOM is for Document Object Model; and XSLT is for Extensible Stylesheet Language Transformations.		
			</small>
		</p>
                <select name="method" class="form-control" ng-model="model.method"
                        ng-options="value for value in options.methods" required></select>
                <p ng-show="userForm.method.$invalid && userForm.method.$error.required" class="help-block">method is
                    required.</p>
            </div>

            <!-- Type -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.type.$invalid && userForm.type.$pristine}">
                <label>Type*</label>
		<p>
	                <small class="text-muted">
				Choose which input you’d like to analyse: OAI for an OAI-PMH set; URL in case you have a specific address; and File for uploaded files.
	                </small>
		</p>
                <select name="type" class="form-control" ng-model="model.type"
                        ng-options="value for value in options.types" required></select>
                <p ng-show="userForm.type.$invalid && userForm.type.$error.required" class="help-block">type is
                    required.</p>
            </div>

            <!-- FILE -->
            <div ng-if="model.type == 'file'" class="form-group" ng-class="{ 'has-error' : userForm.file.$invalid && userForm.file.$pristine}">
                <label>File*</label>
                <div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
                <input type="hidden" name="file" class="form-control" ng-model="model.file" required>
                <p ng-show="userForm.file.$invalid && userForm.file.$error.required" class="help-block">File is
                    required.</p>
            </div>

            <!-- Format -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.format.$invalid && userForm.format.$pristine }">
                <label>Format*</label>
		<p>
                	<small class="text-muted">
				Define the format in which you’d like to display the results.
                        </small>
		</p>
                <select name="format" class="form-control" ng-model="model.format"
                        ng-options="value for value in options.formats" required></select>
                <p ng-show="userForm.format.$invalid && userForm.format.$error.required" class="help-block">format is
                    required.</p>
            </div>

            <!-- VALUE -->
            <div ng-if="model.type == 'oai' || model.type == 'url'" class="form-group" ng-class="{ 'has-error' : userForm.text.$pristine
             || userForm.text.$invalid && userForm.text.$error.pattern || userForm.text.$invalid && userForm.text.$dirty}">
                <label>Input*</label>
                <input type="text" name="text" class="form-control" ng-model="model.text" required
                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
                <p ng-show="userForm.text.$invalid && userForm.text.$error.required" class="help-block">Input is
                    required.</p>
                <p ng-show="userForm.text.$invalid && userForm.text.$error.pattern" class="help-block">Input not valid
                    url.</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</script>
