<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">ECHOES GUI</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()">Log In</a></li>
                <li ui-sref-active="active">
                    <a ng-if="vm.auth.isAuthenticated()"
                       ui-sref="profile">Profile</a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="vm.auth.isAuthenticated()"
                       ui-sref="analyse">Analyse</a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="vm.auth.isAuthenticated()"
                       ui-sref="recollect">Recollect <span class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="vm.auth.isAuthenticated()"
                       ng-click="vm.auth.logout()">Log Out</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>