[submodule "europeana-parent-pom"]
	path = europeana-parent-pom
	url = https://github.com/europeana/europeana-parent-pom.git
[submodule "corelib"]
	path = corelib
	url = https://github.com/CSUC/corelib.git
