[submodule "europeana-parent-pom"]
	path = europeana-parent-pom
	url = https://github.com/CSUC/europeana-parent-pom.git
	branch = echoes
[submodule "corelib"]
	path = corelib
	url = https://github.com/CSUC/corelib.git
	branch = echoes
[submodule "YASGUI.server"]
	path = YASGUI.server
	url = https://github.com/CSUC/YASGUI.server.git
	branch = echoes
[submodule "database"]
	path = database
	url = https://github.com/CSUC/database.git
	branch = echoes
