<div class="container">
    <a ui-sref="quality" ui-sref-opts="{reload:true}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back </a>
    <h2>{{vm.title}}</h2>

    <table class="table">
        <tbody>
        <tr>
            <td>id</td>
            <td>{{vm.data._id}}</td>
        </tr>
        <tr ng-show="vm.data.timestamp">
            <td>timestamp</td>
            <td>{{vm.data.timestamp}}</td>
        </tr>
        <tr ng-show="vm.data.contentType">
            <td>Contetn-Type</td>
            <td>{{vm.data.contentType}}</td>
        </tr>
        <tr ng-show="vm.data.data">
            <td>Dataset</td>
            <td><a ui-sref="recollect-detail({_id:vm.data.data})" target="_blank">{{vm.data.data}}</a></td>
        </tr>
        <tr  ng-show="vm.data.status">
            <td>status</td>
            <td>{{vm.data.status}}</td>
        </tr>
        <tr  ng-show="vm.data.user">
            <td>user</td>
            <td>{{vm.profile.nickname}}</td>
        </tr>
        <tr  ng-show="vm.data.qualityConfig">
            <td>quality config</td>
            <td><a ng-click="vm.saveTextAsFile('quality.' + vm.data._id + '.conf')">download config</a></td>
        </tr>
        <tr  ng-show="vm.data">
            <td>dataset-size</td>
            <td>{{vm.data.datasetSize}}</td>
        </tr>
        <tr  ng-show="vm.data">
            <td>quality-size</td>
            <td>{{vm.data.qualitySize}}</td>
        </tr>
        <tr ng-show="vm.data.errorSize">
            <td>error-size</td>
            <td ng-if="vm.data.errorSize > 0">
                <a ui-sref="quality-error({_id:'{{vm._id}}', page: 1, pagesize: 10})">{{vm.data.errorSize}}</a> - <a target="_blank" ng-href="/rest/api/quality/user/{{vm.profile.sub}}/id/{{vm._id}}/download-report"> Download report</a>
            </td>
            <td ng-if="vm.data.errorSize == 0">
                {{vm.data.errorSize}}
            </td>
        </tr>
        </tbody>
    </table>
    <uib-accordion ng-show="vm.data.error">
        <div uib-accordion-group class="panel-default" heading="Exception">
            <pre>{{vm.data.error.exception}}</pre>
        </div>

    </uib-accordion>
</div>