<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <!-- All -->
        <RollingFile name="RollingFile"
                     fileName="${echoes.path}/logs/${project.name}-${date:yyyy-MM-dd}.log"
                     filePattern="${echoes.path}/logs/rotate/${project.name}-%d{yyyy-MM-dd}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green,
                    DEBUG=blue} - %msg%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <!-- Console -->
        <Console name="Console">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.Recollect.Core.download" level="debug" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.cli.Main" level="debug" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.Recollect" level="debug" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.client" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.deserialize" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.handler" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.io" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.parameters" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.serialize" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.typesafe" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.util" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.Recollect.Core.XMLtoDspaceArchiveFormatPackager" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>

        <Logger name="org.EDM.Transformations" level="info" additivity="true">
            <appender-ref ref="RollingFile" level="info"/>
        </Logger>


        <Root level="info" additivity="true">
            <appender-ref ref="Console"/>
        </Root>

    </Loggers>
</Configuration>
