<div id="container" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="vm.data._size == 0"
                 ng-init="clickToOpen()">
            </div>
            <div class="panel panel-default" ng-show="vm.data._size > 0">
                <div class="panel-heading"><h3>Statistics</h3></div>
                <div class="panel-body">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <canvas class="chart chart-doughnut" chart-data="vm.chart.data"
                                chart-labels="vm.chart.labels"
                                chart-options="vm.chart.options" chart-colors="vm.chart.colors"></canvas>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>

            <div class="panel panel-default profile-area" ng-show="vm.data._size > 0">
                <div class="panel-heading">
                    <h3>{{vm.title}} <span class="badge badge-light">{{vm.data._size}}</span>
                        <button type="button" class="btn btn-primary" ng-click="clickToOpen()">new</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive col-xs-12 col-sm-12 col-lg-12">
                        <table ng-table="vm.tableParams" class="table" show-filter="false">
                            <tr ng-repeat="data in $data">
                                <td title="'job'">
                                    <span ng-if="data.status == 'ERROR'"
                                        class="glyphicon glyphicon-remove-sign text-danger"></span>
                                    <span ng-if="data.status == 'END'"
                                        class="glyphicon glyphicon-ok-sign text-success"></span>
                                    <span ng-if="data.status == 'PROGRESS'"
                                        class="glyphicon glyphicon-play-circle text-info"></span>
                                    <span ng-if="data.status == 'QUEUE'" class="glyphicon glyphicon-hourglass"></span>
                                </td>
                                <td title="'status'">
                                    <span ng-if="data.download == 0 && data.status == 'END'">
                                        <i class="fas fa-circle text-muted" ng-style="{'color': 'red'}"></i>
                                        <i class="fas fa-circle text-muted"></i>
                                        <i class="fas fa-circle text-muted"></i>
                                    </span>

                                    <span ng-if="( ( data.download > 0 && data.download < data.size || data.download > 0 &&  data.size == 0) && data.status == 'END')">
                                        <i class="fas fa-circle text-muted"></i>
                                        <i class="fas fa-circle text-muted" ng-style="{'color': 'orange'}"></i>
                                        <i class="fas fa-circle text-muted"></i>
                                    </span>

                                    <span ng-if="data.download == data.size && data.download > 0 && data.status == 'END'">
                                        <i class="fas fa-circle text-muted"></i>
                                        <i class="fas fa-circle text-muted"></i>
                                        <i class="fas fa-circle text-muted" ng-style="{'color': 'green'}"></i>
                                    </span>
                                </td>
                                <td title="'id'">
                                    <a ui-sref="recollect-detail({_id: '{{data._id}}'})"
                                       ng-if="data.status == 'END' || data.status == 'ERROR'">{{data._id}}</a>
                                    <a ng-if="data.status != 'END' && data.status != 'ERROR'"
                                       ng-class="{'btn disabled' : data.status != 'END' && data.status != 'ERROR' }">{{data._id}}</a>
                                </td>
                                <td title="'input'" ng-if="data.type != 'FILE'">
                                    {{data.input | limitTo: 50}}<span ng-if="data.input.length > 50">...</span>
                                </td>
                                <td title="'filename'" ng-if="data.type == 'FILE'">
                                    {{data.filename}}
                                </td>
                                <td title="'timestamp'">
                                    {{data.timestamp.year}}-{{data.timestamp.monthValue}}-{{data.timestamp.dayOfMonth}}
                                </td>
                                <td title="'remove'">
                                    <a ng-click="remove(data._id)">
                                        <span class="glyphicon glyphicon-remove text-danger"></span>
                                    </a>
                                </td>
                                <td title="'quality'">
                                    <a ng-click="sendQuality(data)" ng-if="data.status == 'END'
                                     && ( data.download > 0 && data.download < data.size || data.download == data.size && data.download > 0 || data.download > 0 &&  data.size == 0 )">
                                        <span class="glyphicon glyphicon-send"></span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="recollect.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">{{ngDialogData.title}}</h3>
    </div>
    <div class="modal-body">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <!-- Type -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.type.$invalid && userForm.type.$pristine}">
                <label>Type*</label>
                <select name="type" class="form-control" ng-model="model.type"
                        ng-options="value for value in options.types" required></select>
                <p ng-show="userForm.type.$invalid && userForm.type.$error.required" class="help-block">type is
                    required.</p>
            </div>

            <!-- VALUE -->
            <div ng-if="model.type == 'oai' || model.type == 'url'" class="form-group" ng-class="{ 'has-error' : userForm.input.$pristine
             || userForm.input.$invalid && userForm.input.$error.pattern || userForm.input.$invalid && userForm.input.$dirty}">
                <label>Input*</label>
                <input type="text" name="input" class="form-control" ng-model="model.input" required
                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
                <p ng-show="userForm.input.$invalid && userForm.input.$error.required" class="help-block">Input is
                    required.</p>
                <p ng-show="userForm.input.$invalid && userForm.input.$error.pattern" class="help-block">Input not valid
                    url.</p>
            </div>

            <!-- FILE -->
            <div ng-if="model.type == 'file'" class="form-group" ng-class="{ 'has-error' : userForm.file.$invalid && userForm.file.$pristine}">
                <label>File*</label>
                <div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
                <input type="hidden" name="file" class="form-control" ng-model="model.file" required>
                <p ng-show="userForm.file.$invalid && userForm.file.$error.required" class="help-block">File is
                    required.</p>
            </div>

            <!-- schema -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.schema.$invalid && userForm.schema.$pristine }">
                <label>Schema*</label>
                <select name="schema" class="form-control" ng-model="model.schema"
                        ng-options="value for value in options.schema" required></select>
                <p ng-show="userForm.schema.$invalid && userForm.schema.$error.required" class="help-block">schema is
                    required.</p>
            </div>

            <!-- format -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.format.$invalid && userForm.format.$pristine }">
                <label>Format*</label>
                <select name="format" class="form-control" ng-model="model.format"
                        ng-options="value for value in options.format" required></select>
                <p ng-show="userForm.format.$invalid && userForm.format.$error.required" class="help-block">format is
                    required.</p>
            </div>

            <!-- EDMTYPE -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.edmType.$invalid && userForm.edmType.$pristine }">
                <label>EDM Type*</label>
                <select name="edmType" class="form-control" ng-model="model.edmType"
                        ng-options="value for value in options.edmType" required></select>
                <p ng-show="userForm.edmType.$invalid && userForm.edmType.$error.required" class="help-block">edmType is
                    required.</p>
            </div>

	    <!-- PROVIDER -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.provider.$invalid && userForm.provider.$pristine }">
                <label>data provider*</label>
                <select name="provider" class="form-control" ng-model="model.provider"
                        ng-options="value for value in options.provider" required></select>
                <p ng-show="userForm.provider.$invalid && userForm.provider.$error.required" class="help-block">provider is
                    required.</p>
            </div>

            <!-- DATA PROVIDER -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.dataProvider.$invalid && userForm.dataProvider.$pristine }">
                <label>data provider*</label>
                <select name="dataProvider" class="form-control" ng-model="model.dataProvider"
                        ng-options="value for value in options.dataProvider" required></select>
                <p ng-show="userForm.dataProvider.$invalid && userForm.dataProvider.$error.required" class="help-block">dataprovider is
                    required.</p>
            </div>

            <div class="form-group">
                <label>Properties</label>

                <ul style="list-style: none;">
                    <li ng-repeat="property in properties">
                        <label>
                            <select name="key" class="form-control" ng-model="property.key"
                                    ng-options="value for value in options.properties"></select></label>
                        <label>
                            <input name="value" ng-model="property.value">
                        </label>
                        <button class="btn btn-default" ng-click="properties.splice($index, 1)" aria-label="Remove"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                    </li>
                    <li>
                        <button class="btn btn-default" ng-click="properties.push({})"><span class="glyphicon glyphicon-plus">Add</span></button>
                    </li>
                </ul>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</script>

<script type="text/ng-template" id="quality.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Quality assurance</h3>
    </div>
    <div class="modal-body">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <!-- Data -->
            <div class="form-group">
                <label>Data</label>
                {{model.dataset}}
            </div>
            <!-- ContentType -->
            <div class="form-group">
                <label>Content-Type</label>
                {{model.type}}
            </div>
            <div class="form-group">
                <label>Quality Config</label>
            </div>
            <div class="accordion col-lg-12 form-group" id="accordion">
                <div class="card" ng-repeat="(key, value) in config">
                    <div class="card-header" id="heading{{$index}}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                                {{key}}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{$index}}" class="collapse" aria-labelledby="heading{{$index}}" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table">
                                <tr ng-repeat="(key2, value2) in value">
                                    <td><strong>{{ key2 }}</strong></td>
                                    <td>
                                        <select class="form-control" ng-model="model" ng-options="l for l in level" data-ng-init="model = value2.level" ng-change="update(key,key2,model)">
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</script>
